.intro {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introContainer {
  display: flex;

  width: 95vw;
  height: 90vh;
  background-color: #fff;
}

//login styles 👿

.loginContainer {
  margin: 30px 0 0 30px;
  width: 50vw;
  height: 90vh;
}

.logoContainer {
  display: flex;
  align-items: baseline;

  .logoIcon {
    width: 4.375rem;
  }
}
.textLogo {
  font-family: "Poppins", sans-serif;
  font-size: 3.0625rem;
  height: 2.3125rem;
}
//welcome  box🔱

.welcomeHome {
  margin-top: 15vh;

  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcomeText {
  height: 2.3125rem;
  font-size: 3.0625rem;
}

.infoText {
  margin-top: 2rem;
  font-size: 1.5625rem;
}

.createAccount {
  margin-top: 2rem;
  border: solid 3px transparent;
  background-color: #931df0;
  width: 18rem;
  height: 2.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5625rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}

.createAccount:hover {
  background-color: transparent;
  border: solid 3px #931df0;
  color: #111727;
}

.importAccount {
  background-color: transparent;
  border: solid 3px #931df0;
  width: 18rem;
  height: 2.8125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111727;
  font-size: 1.5625rem;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.5s;
}
.importAccount:hover {
  background-color: #931df0;
  border: solid 3px transparent;
  color: #fff;
}

//imagen intro styles 🧑‍🎄

.introImagenContainer {
  width: 45vw;
  height: 90vh;
  background-color: #e4eaf8;
}

.introImagenContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.lemmaContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  background: rgba(228, 234, 248, 0.01);
  backdrop-filter: blur(50px);
  width: 45vw;
  height: 45vh;
  span {
    font-family: "Poppins", sans-serif;
    font-size: 2.1875rem;
    height: 2.3125rem;
  }
}

.hidde {
  display: none;
}

.show {
  display: flex;
}

// modal 📳

.modalContainer {
  position: fixed;
  width: 50vw;
  border-radius: 1.25rem;
  height: 70vh;
  border: solid 8px #931df0;
  background-color: #ffffff;
}

.infoModal {
  padding-top: 1rem;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  align-items: center;
}

.closeModal {
  margin-top: 1rem;
  margin-left: 1rem;
  position: fixed;
  cursor: pointer;
  width: 2rem;
}

.logoModal {
  width: 3rem;
}

.modalTitle {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.modalSubtitle {
  font-size: 1rem;
}

.cautionContainer {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.titleCaution {
  margin-top: 5vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.listCaution {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.seed {
  color: #266510;
  font-family: "Poppins", sans-serif;
}

.next {
  margin-top: 10vh;
  width: 16rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #931df0;
  font-size: 1.5rem;
}

//WarningModal

.warningModale {
  margin: 5vh 10vh 10vh 10vh;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 40vw;
  border-radius: 1.25rem;
  height: 60vh;
  color: #fff;
  background-color: #161616;
}

.iconEyeOff {
  margin-top: 2rem;
  width: 5rem;
}

.warningTitle {
  margin-top: 2vh;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.warningSubtitle {
  font-size: 1.5rem;
}

.skipWarning {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: transparent;
  border: solid 0.1875rem #fff;
  font-size: 1.5rem;
}

//seed Modale

.seedModal {
  padding-top: 1rem;
  flex-direction: column;
  height: 70vh;
  width: 50vw;
  align-items: center;
}

.seedPhraseContainer {
  margin-top: 2vh;
  width: 37.5rem;
  display: flex;
  justify-content: space-around;
}

.column {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.seedContainer {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  width: 8.125rem;
  height: 2rem;
  border-radius: 2rem;
  border: solid #931df0 0.1875rem;
}

//media querys 🤳
@media only screen and (max-width: 1175px) {
  .introImagenContainer {
    display: none;
  }
  .loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
  }
  .welcomeHome {
    margin-bottom: 15vh;
  }
}

.introContainerMobile {
  display: none;
}

@media only screen and (max-width: 810px) {
  .introContainer {
    display: none;
  }

  .introContainerMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    background-color: #fff;
  }
  .logoMobile {
    margin-top: 0.625rem;
    width: 3.125rem;
  }
  .sloganContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    span {
      font-family: "Poppins", sans-serif;
      font-size: 6vw;
      height: 2.3125rem;
    }
  }

  .buttonCreate {
    width: 70vw;
    height: 3rem;
    border-radius: 1.25rem;
    color: #fff;
    font-size: 1.25rem;
    background-color: #931df0;
    text-align: center;
  }
  .bottonsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 10vh;
    span {
      text-align: center;
      font-size: 15px;
    }
  }
  .line {
    width: 70vw;
  }
  .buttonImport {
    width: 70vw;
    height: 3rem;
    border-radius: 1.25rem;
    color: #111727;
    font-size: 1.25rem;
    background-color: transparent;
    text-align: center;
    border: solid 3px #931df0;
  }
}
